html {
    scroll-behavior: smooth;
}

h2,
h3 {
    font-family: 'Saira Stencil One', 'serif';
    font-weight: 700;
}

h1 {
    font-size: 40px;
    font-family: 'Saira Stencil One', cursive;
}

a,
.nav-link {
    color: #FFD700;
}

.nav-link {
    color: #FFD700;
}

body {
    font-family: 'Roboto Mono', monospace;
    line-height: 34px;
    padding-top: 3rem;
    font-size: 16px;
}

a:hover {
    color: #FFF;
    box-shadow: 5px 5px 5px 5px #41FFAB;
}

img {
    display: inline-block;
}

.hero {
    padding: 10vh 0;
    background: linear-gradient(to right, #004225, #41FFAB);
}

.aboutme {
    padding: 10vh 0;
    background: linear-gradient(to bottom, #708090, #222);
    color: #FFF;
    text-align: left;
}

.portfolio {
    padding: 10vh 0;
    background: #222;
    color: #FFF;
    text-align: center;
}

.contact {
    padding: 10vh 0;
}

#submitBtn {
    border-radius: 10px;
    background: #004225;
    color: #FFF;
    border: none;
}

footer {
    padding: 5vh 0;
    text-align: center;
    background: #000;
    color: #FFF;
}
